:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Noto Sans", sans-serif;
  --third-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f5eff7;
}

html, body {
  margin: 0;
  padding: 0;
}
